body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2C3E50;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #34495E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;

    margin-bottom: 20px;
    color: #FFC300;
    text-decoration: underline;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    background-color: #3498DB;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px auto; 
    display: block; 
    width: 210px;
    transition: background-color 0.3s ease;
}

.button-container {
    text-align: center;
}


p {
    margin: 10px 0;
    color: #15ebb9;
    text-align: center;
    font-weight:italic;
}

#message-el {
    font-size: 22px;
}

#cards-el, #sum-el, #gamer-el {
    font-size: 18px;
}

.card {
    display: inline-block;
    background-color: #16A085;
    color: #0f0101;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.card:last-child {
    margin-right: 0;
}

.blackjack {
    background-color: #27AE60;
}

.bust {
    background-color: #C0392B;
}

.blackjack, .bust {
    color: #0f0101;
    font-weight: bold;
}

.card-label {
    font-size: 14px;
}

.card-value {
    font-size: 18px;
    font-weight: bold;
}
